body {
  background: #CCC;
  margin: 0px;
}
label {
  display: block;
  margin-bottom: .5rem;
  margin-top: 1rem;
}

input {
  display: block;
}

.button-creator {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 300px 1fr;
  padding: 30px;
}

#controle {
  background: #EEE;
  border-radius: 4px;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, .1);
  font-family: 'IBM Plex Mono', monospace;
  font-size: .875rem;
  padding: 1rem;
}

.css {
  color: #333;
  display: flex;
  flex-direction: column;
  font-family: 'IBM Plex Mono', monospace;
  margin-top: 40px;  
}

.css span {
  display: block;
  margin-bottom: .5rem;
}